// Footer that stays at the bottom of the page, based on
// http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

@footerHeight: 28px;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: @footerHeight;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  line-height: @footerHeight;
  text-align: right;
}
